@use "../../variables" as *;

.inputBox {    
    width: auto;
    font-size: ($base-rem-length * 10);
    background-color: $search-box-color;
    border-radius: ($base-px-length * 3);
    border: none;
    @include padding(5, 10, 5, 30);
}

.inputBox:focus {
    outline-style: solid;
    outline-color: $border2-color;
}

.wrapper {
    position: relative;
}

.icon {
    position: absolute;
    top:  calc(50% - ($base-rem-length * 5));
    left: 5%;
}


@media screen and (min-width: 768px) {

    .inputBox {
        font-size: ($base-rem-length * 13);
    }
}


@media screen and (min-width: 992px) {

    .wrapper {
        padding-right: ($base-rem-length * 60);
    }

    .inputBox {
        font-size: ($base-rem-length * 13);
    }
}