@use '../../sass/' as *;

.inputBox {    
    width: auto;
    font-size: ($base-rem-length * 10);
    background-color: var(--secondaryBg);
    border-radius: ($base-px-length * 3);
    border: 1.5px solid var(--borderColor);
    @include padding(5, 10, 5, 30);
}

.inputBox:focus {
    outline-style: solid;
    outline-color: var(--borderColorAlt);
}

.wrapper {
    position: relative;
}

.icon {
    position: absolute;
    top:  calc(50% - ($base-rem-length * 5));
    left: 5%;
}


@media screen and (min-width: 768px) {

    .inputBox {
        font-size: ($base-rem-length * 13);
    }
}


@media screen and (min-width: 992px) {

    .inputBox {
        font-size: ($base-rem-length * 13);
    }
}