@use '../../sass/variables' as *;

.dropdown {
  display: flex;
  flex-direction: column;
  gap: ($base-rem-length * 8);
  font-size: ($base-rem-length * 8);
  color: var(--textSecondaryColor);
  font-weight: ($font-weight-base * 6);
  font-family: $lato-font;

  > select {
    font-weight: ($font-weight-base * 4);
    background-color: var(--secondaryBg);
  }
}

@media screen and (min-width: 768px) {
  .dropdown {
    font-size: ($base-rem-length * 11);
    flex-direction: row;
  }
}

@media screen and (min-width: 992px) {
  .dropdown {
    flex-direction: column;
    font-size: ($base-rem-length * 11);
  }
}
