@use "../../variables" as *;

.dropdown {
  display: flex;
  flex-direction: column;
  gap: ($base-rem-length * 8);
  font-size: ($base-rem-length * 8);
  color: $neonGreen;
  font-weight: ($font-weight-base * 6);
  font-family: $lato-font;

  > select {
    font-weight: ($font-weight-base * 4);
  }
}

@media screen and (min-width: 768px) {
  .dropdown {
    font-size: ($base-rem-length * 11);
  }
}

@media screen and (min-width: 992px) {
  .dropdown {
    width: 55%;
    font-size: ($base-rem-length * 11);
    padding-left: ($base-px-length * 4);
  }
}
