@use "../../variables" as *;

.filterItem {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  font-size: ($base-rem-length * 8);
  color: $neonGreen;
  font-weight: ($font-weight-base * 6);
  font-family: $lato-font;
  gap: ($base-rem-length * 3);
}

.checkbox {
  accent-color: $neonGreen;
  color: $main-background-color;
}

@media screen and (min-width: 768px) {
  .filterItem {
    font-size: ($base-rem-length * 11);
  }
}

@media screen and (min-width: 992px) {
  .filterItem {
    font-size: ($base-rem-length * 11);
  }
}
