@use "../../variables" as *;

.filterItem {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 50%;
    font-size: ($base-rem-length * 11);
    color: $secondary-color;
    font-weight: ($font-weight-base * 6);
    font-family: $lato-font;
}

.checkbox {
    accent-color: $secondary-color;
    color: $main-background-color;
}