@use "../../variables" as *;

.cardDisplay {
  position: relative;
  height: $card-height;
  width: $card-width;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  perspective: ($card-width * 2);

  &__front {
    position: absolute;
    backface-visibility: hidden;
    width: 100%;
    height: 100%;
  }

  &__back {
    position: absolute;
    transform: rotateY(180deg);  // for backward perspective(when flipped reads left to right)
    backface-visibility: hidden;
    width: 100%;
    height: 100%;
  }
}

.cardDisplayRotate {
    transform: rotateY(180deg);
}