@use "../../variables" as *;

.nav {
    width: 20vw;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    position: fixed;
    gap: ($base-px-length * 4);
    top: 20vh;
    padding-top: ($base-rem-length * 10);
    font-family: $lato-font;

    &__header {
        font-size: ($base-rem-length * 14);
        text-decoration: underline;
        text-underline-offset: ($base-rem-length * 5);
    }
}

.info {
    padding-top: ($base-rem-length * 18);
    font-size: ($base-rem-length * 11);
    text-decoration: $secondary-color solid underline ($base-px-length - 3);
}
