@use '../../sass/variables' as *;

.mainContainer{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    justify-items: center;
    padding-top: ($base-rem-length * 100);
    padding-bottom: ($base-rem-length * 30);
    position: absolute;
    top: 18vh;
    row-gap: ($base-rem-length * 25);
    width: 100vw;

    > h3 {
        width: 100%;
        text-align: center;
    }
}

.notFound {
    text-align: center;
    font-size: ($base-rem-length * 25);
    grid-column: 2;
    color: var(--textSecondaryColor);
}

.loading {
    position: absolute;
    bottom: 0;
    left: 50%;
}


@media screen and (min-width: 1024px) {

    .mainContainer {        
        left: 20vw;
        width: 80vw;
        padding-top: ($base-rem-length * 80);
    }
}