.mainContainer {
    width: 80vw;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 2rem;
    justify-items: center;
    padding-top: 1.8rem;
    position: absolute;
    left: 20vw;
    top: 20vh;
}

.notFound {
    text-align: center;
    font-size: 2.5rem;
    grid-column: 2;
    color: #1ba7cd;
}