@use "../../variables" as *;

.mainContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: ($base-rem-length * 18);
    padding-bottom: ($base-rem-length * 25);
    position: absolute;
    top: 30%;
    gap: ($base-rem-length * 25);
    min-width: 100vw;

    > h3 {
        width: 100%;
        text-align: center;
    }
}

.notFound {
    text-align: center;
    font-size: ($base-rem-length * 25);
    grid-column: 2;
    color: $neonGreen;
}


@media screen and (min-width: 1024px) {

    .mainContainer {
        left: 20vw;
        min-width: 80vw;
    }

}