@use "../../variables" as *;

.cardFront {
  height: 100%;
  width: 100%;
  text-align: center;
  background-color: $search-box-color;
  border-radius: ($base-px-length * 3);
  font-family: $antonio-font;

  .imageContainer {
    height: 50%;
    width: 100%;
    @include flexCenter();
    padding: 2rem;
    background-color: $aquaColor;
    border-radius: ($base-px-length * 3) ($base-px-length * 3) 0 0;
    
    img {
      height: 100%;
    }
  }

  .infoContainer {
    @include flexCenter();
    flex-direction: column;
    height: 50%;
    width: 100%;
    gap: ($base-rem-length * 15);

    h2 {
      margin-bottom: 0;
      @include padding(0,10,0,10);
    }

    h4 {
      font-weight: ($font-weight-base * 4);
    }

    &__abv {
      border: ($base-px-length - 3) solid $neonGreen;
      border-radius: ($base-px-length * 4);
      background-color: $main-background-color;
      width: 40%;
      padding: $base-px-length;
      color: $neonGreen;
    }
  }
}
