@use "../../variables" as *;

.cardFront {
  height: 100%;
  width: 100%;
  text-align: center;
  background-color: $card-color;
  border-radius: ($base-px-length * 3);
  font-family: $antonio-font;

  .imageContainer {
    height: 40%;
    width: auto;
    padding: ($base-px-length * 6) ($base-px-length * 4) ($base-px-length * 4) ($base-px-length * 4);

    img {
      width: auto;
      height: 100%;
    }
  }

  .infoContainer {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
    gap: ($base-rem-length * 10);
    padding-top: ($base-rem-length * 10);

    h2 {
      margin-bottom: 0;
      padding: 0 ($base-px-length * 2);
    }

    h4 {
      font-weight: ($font-weight-base * 4);
    }

    &__abv {
      border: ($base-px-length - 3) solid $primary-color;
      border-radius: ($base-px-length * 4);
      background-color: $main-background-color;
      width: 40%;
      margin: ($base-rem-length * 10) auto;
      padding: $base-px-length;
      font-weight: ($font-weight-base * 6);
    }
  }
}
