@use "../../variables" as *;

.cardBack {
    height: $card-height;
    width: $card-width;
    text-align: center;
    overflow: auto;
    padding: 0px ($base-px-length * 2) ($base-px-length * 2) ($base-px-length * 2);
    background-color: $card-color;
    border-radius: ($base-px-length * 3);
    font-family: $lato-font;
    font-weight: ($font-weight-base * 3);

    /* Works on Firefox */
    scrollbar-width: auto;
    scrollbar-color: auto;
    
    > h3 {
        text-decoration: $secondary-color solid underline ($base-px-length - 3);
        color: $secondary-color;
        padding-top: ($base-rem-length * 15);
        margin: 0;
    }
}

.foodPairing {
    text-align: left;
    padding: 0 ($base-rem-length * 15);
}

.info {
    font-size: ($base-rem-length * 11);
    font-weight: bold;
    padding: 0 ($base-rem-length * 2) 0 ($base-rem-length * 5);
    color: $secondary-color;
    text-decoration: $secondary-color solid underline ($base-px-length - 3);
}


/* Works on Chrome, Edge, and Safari */
.cardBack::-webkit-scrollbar {
width: ($base-px-length * 2);
}

.cardBack::-webkit-scrollbar-track {
box-shadow: inset 0 0 ($base-px-length + 1) rgba(0,0,0,0.3);
border-radius: ($base-px-length * 2);
background-color: $search-box-color;
}

.cardBack::-webkit-scrollbar-thumb {
border-radius: ($base-px-length * 2);
background: linear-gradient(to left, $main-background-color, #e4e4e4);
border: ($base-px-length - 4) solid #aaa;
}