@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Antonio&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;700&display=swap');

// Fonts
$lato-font: "Lato", sans-serif;
$antonio-font: "Antonio", sans-serif;
$roboto-font: 'Roboto Slab', serif;;

// Font-weight
$font-weight-base: 100;

// Colours
$main-background-color: #fff;
$card-color: #f7f7f7;
$search-box-color: #f5f5f5;
$secondary-color: #1BA7CD;
$primary-color: #000;
$border1-color: #e0dedc85;
$border2-color: #acacac;
$menu-color: #e3e3e3;
$neonGreen: #34D19F;
$aqua: #00FFBF;
$paleLager: #EADA24;
$lager: #FFC72C;
$pilsner: #FF9E1B;
$wheat: #D38235;
$goldenAle: #D86018;
$darkAle: #7C2529;
$porter: #643335;
$stout: #3F2021;
$imperialStout: #25282A;

// Spacing
$base-px-length: 5px;
$base-rem-length: 0.1rem;
$card-height: 480px;
$card-width: 300px;

// mixins
@mixin textUnderline {
    text-decoration-line: underline;
    text-decoration-color: $neonGreen;
    text-decoration-thickness: ($base-px-length - 3);
    text-underline-offset: 2px;
}

@mixin padding($top,$right,$bottom,$left) {
    padding: ($top * $base-rem-length) ($right * $base-rem-length) ($bottom * $base-rem-length) ($left * $base-rem-length);
}

@mixin flexCenter {
    display: flex;
    align-items: center;
    justify-content: center;
}