@import-normalize;

/* CSS Resets */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body, #root {
  min-height: 100vh;
}

img, svg {
  display: block;
  max-width: 100%;
}

input, button, select {
  font: inherit;
}

li::marker {
  color: #34D19F;
}